
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');




* {
    margin: 0;
    font-family: 'Koh Santepheap', sans-serif;
    font-size: 20px;
}

body {
    background-color: #bbc4d4;
    color: #ccc;
    font-family: sans-serif;
}

h3 {
    font-size: 40px;
    text-align: center;
    color: #a46f54;
}

strong{
    font-size: 42px;
    color: #583324
}

.img img {
    width: 800px
}

.text {
    font-size: 17px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b4684a;
    margin: 90px;
    margin-top: 0;
}


h1 {
    text-align: center;
    color: #301e1a;
    font-size: 60px;
}

p {
    text-align: center;
}

.conteudo {
    display: flex;
    justify-content: center;
    color: #a46f54;
}

.btns {
    display: flex;
    justify-content: center
}

input {
    background: #d0deb8;
    color: #301e1a;
    border: none;
    text-align: center;
}

input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
         -webkit-appearance: none;           }

         .resp {
             text-align: center;
         }

.btns {
    padding: 10px;
}

input[type=button] {
    background: #301e1a;
    color: #fff;
    padding: 10px;
    font-size: 15px;
}

#valor1{
    background: #b4684a;
    color: #ccc;
}

#valor2 {
    background: #b4684a;
    color: #ccc;
}

#resp {
    text-align: center;
    color: #301e1a;
}
